* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(238, 238, 238);
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
}
/* esto es el primer section */
header {
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  font-size: 3rem;
}
#container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
img {
  width: 40vw;
  height: 60vh;
}
div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1.5rem;
  padding: 1.5rem;
  border-radius: 40%;
  color: #f1f0f6;
  border: 2px solid rgb(229, 241, 11);
  border-radius: 0px;
  padding: 18px 36px;
  display: inline-block;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #15ce2d;
  -webkit-transition: ease-out 1s;
  -moz-transition: ease-out 1s;
  transition: ease-out 1s;
  background-color: black;
  border-radius: 50%;
}
button:hover {
  box-shadow: inset 400px 50px 0 0 #0902d8;
}
